@import url('https://fonts.googleapis.com/css2?family=Muli:wght@500&display=swap');

body {
    font-family: "Muli";
    background-color: #1d1c40;
}

input[type="text"],
textarea {
    background-color: white;
}

#zip {
    width: 663px;
    height: 72px;
    margin: auto;
    display: block;
    border: 0;
    background-color: #9998be;
    text-align: center;
    font-size: 3.8em;
    line-height: 1em;
    font-family: "Muli";
  }

.grid1 {
    width: 100vw;
    height: 1401px;
    position: absolute;
    margin: auto;
    margin-top: 10px;
    margin-right: 45px;
    margin-left: 103px;

    display: grid;
    grid-template-areas: 
    "left right";
    grid-template-columns: 1fr, 1fr;
}

.grid1-left {
    width: 585px;
    height: 1401px;
    margin: auto;
    grid-area: left;
}

.grid1-left-search {
    width: 663px;
    height: 72px;
    margin: auto;
    margin-top: 284px;
    margin-bottom: 55px;
    background-color: #575684;
}

.grid-left-location {
    margin: auto;
    margin-bottom: 55px;
    font-weight: bolder;
    color: #13f28a;
    font-size: 3em;
}

#map {
	width: 600px;
    height: 450px;
}

.grid1-right {
    width: 405px;
    height: 1410px;
    margin: auto;
    grid-area: right;
    background-color: #575684;
}

.grid1-right-date {
    font-weight: bold;
    color: #13f28a;
    font-size: 2em;
    text-align: center;
    margin-top: 18px;
}

.grid1-right-time {
    margin: auto;
    margin-top: 18px;
    font-weight: 2em;
    color: #13f28a;
    font-size: large;
    text-align: center;
}

.grid1-right-icon{
    margin: auto;
    margin-top: 12px;
}

.grid1-right-currenttemp {
    font-weight: bold;
    color: white;
    font-size: 5em;
    margin: auto;
    text-align: center;
}

.grid1-right-highlow {
    margin: auto;
    margin-top: 22px;
    margin-bottom: 22px;
    text-align: center;

    display: grid;
    grid-template-areas: 
    "high low";
    grid-template-columns: 1fr, 1fr;
}

.grid1-right-highlow-high {
    font-weight: bold;
    color: white;
    font-size: 2em;
    grid-area: high;
}

.grid1-right-highlow-low {
    font-weight: bold;
    color: white;
    font-size: 2em;
    grid-area: low;
}

.grid1-right-other {
    margin: auto;
}

.grid1-right-other-top {
    margin: auto;

    display: grid;
    grid-template-areas: 
    "one two three";
    grid-template-columns: 1fr, 1fr, 1fr;
}

.grid1-right-other-top-uv {
    margin: auto;
    grid-area: one;
}

.grid1-right-other-top-uv-title {
    font-weight: normal;
    color: white;
    font-size: small;
    text-align: center;
}

.grid1-right-other-top-uv-number {
    font-weight: normal;
    color: white;
    font-size: medium;
    text-align: center;
}

.grid1-right-other-top-chanceofrain {
    margin: auto;
    grid-area: two;
}

.grid1-right-other-top-chanceofrain-title {
    font-weight: normal;
    color: white;
    font-size: small; 
    text-align: center;
}

.grid1-right-other-top-chanceofrain-number {
    font-weight: normal;
    color: white;
    font-size: medium;
    text-align: center;
}

.grid1-right-other-top-humidity {
    margin: auto;
    grid-area: three;
}

.grid1-right-other-top-humidity-title {
    font-weight: normal;
    color: white;
    font-size: small; 
    text-align: center;
}

.grid1-right-other-top-humidity-number {
    font-weight: normal;
    color: white;
    font-size: medium;
    text-align: center;
}

.grid1-right-other-bottom {
    margin: auto;

    display: grid;
    grid-template-areas: 
    "one two";
    grid-template-columns: 1fr, 1fr;
}

.grid1-right-other-bottom-wind {
    margin: auto;
    grid-area: one;
}

.grid1-right-other-bottom-wind-title {
    font-weight: normal;
    color: white;
    font-size: small; 
    text-align: center;
}

.grid1-right-other-bottom-wind-number {
    font-weight: normal;
    color: white;
    font-size: medium;
    text-align: center;
}

.grid1-right-other-bottom-visibility {
    margin: auto;
    grid-area: two;
}

.grid1-right-other-bottom-visibility-title {
    font-weight: normal;
    color: white;
    font-size: small; 
    text-align: center;
}

.grid1-right-other-bottom-visibility-number {
    font-weight: normal;
    color: white;
    font-size: medium;
    text-align: center;
}

.grid1-right-hourlytitle {
    margin: auto;
    text-align: center;
    font-weight: bold;
    color: #13f28a;
    font-size: 30px;
}

.grid1-right-hourly {
    width: 232px;
    height: 45px;
    margin: auto;
    align-content: center;
}

.grid1-right-hourly-one {
    margin: auto;

    display: grid;
    grid-template-areas: 
    "time icon temp";
    grid-template-columns: 1fr, 1fr, 1fr;
}

.grid1-right-hourly-one-time {
    margin: auto;
    grid-area: time;
    font-weight: normal;
    color: white;
    font-size: 20px; 
}

.grid1-right-hourly-one-icon {
    margin: auto;
    grid-area: icon;
}

.grid1-right-hourly-one-temp {
    margin: auto;
    grid-area: temp;
    font-weight: normal;
    color: white;
    font-size: 20px; 
}

.grid1-right-hourly-two {
    margin: auto;

    display: grid;
    grid-template-areas: 
    "time icon temp";
    grid-template-columns: 1fr, 1fr, 1fr;
}

.grid1-right-hourly-two-time {
    margin: auto;
    grid-area: time;
    font-weight: normal;
    color: white;
    font-size: 20px; 
}

.grid1-right-hourly-two-icon {
    margin: auto;
    grid-area: icon;
}

.grid1-right-hourly-two-temp {
    margin: auto;
    grid-area: temp;
    font-weight: normal;
    color: white;
    font-size: 20px; 
}

.grid1-right-hourly-three {
    margin: auto;

    display: grid;
    grid-template-areas: 
    "time icon temp";
    grid-template-columns: 1fr, 1fr, 1fr;
}

.grid1-right-hourly-three-time {
    margin: auto;
    grid-area: time;
    font-weight: normal;
    color: white;
    font-size: 20px; 
}

.grid1-right-hourly-three-icon {
    margin: auto;
    grid-area: icon;
}

.grid1-right-hourly-three-temp {
    margin: auto;
    grid-area: temp;
    font-weight: normal;
    color: white;
    font-size: 20px; 
}

.grid1-right-hourly-four {
    margin: auto;

    display: grid;
    grid-template-areas: 
    "time icon temp";
    grid-template-columns: 1fr, 1fr, 1fr;
}

.grid1-right-hourly-four-time {
    margin: auto;
    grid-area: time;
    font-weight: normal;
    color: white;
    font-size: 20px; 
}

.grid1-right-hourly-four-icon {
    margin: auto;
    grid-area: icon;
}

.grid1-right-hourly-four-temp {
    margin: auto;
    grid-area: temp;
    font-weight: normal;
    color: white;
    font-size: 20px; 
}

.grid1-right-hourly-five {
    margin: auto;

    display: grid;
    grid-template-areas: 
    "time icon temp";
    grid-template-columns: 1fr, 1fr, 1fr;
}

.grid1-right-hourly-five-time {
    margin: auto;
    grid-area: time;
    font-weight: normal;
    color: white;
    font-size: 20px; 
}

.grid1-right-hourly-five-icon {
    margin: auto;
    grid-area: icon;
}

.grid1-right-hourly-five-temp {
    margin: auto;
    grid-area: temp;
    font-weight: normal;
    color: white;
    font-size: 20px; 
}

.grid1-right-hourly-six {
    margin: auto;

    display: grid;
    grid-template-areas: 
    "time icon temp";
    grid-template-columns: 1fr, 1fr, 1fr;
}

.grid1-right-hourly-six-time {
    margin: auto;
    grid-area: time;
    font-weight: normal;
    color: white;
    font-size: 20px; 
}

.grid1-right-hourly-six-icon {
    margin: auto;
    grid-area: icon;
}

.grid1-right-hourly-six-temp {
    margin: auto;
    grid-area: temp;
    font-weight: normal;
    color: white;
    font-size: 20px; 
}

.grid1-right-hourly-seven {
    margin: auto;

    display: grid;
    grid-template-areas: 
    "time icon temp";
    grid-template-columns: 1fr, 1fr, 1fr;
}

.grid1-right-hourly-seven-time {
    margin: auto;
    grid-area: time;
    font-weight: normal;
    color: white;
    font-size: 20px; 
}

.grid1-right-hourly-seven-icon {
    margin: auto;
    grid-area: icon;
}

.grid1-right-hourly-seven-temp {
    margin: auto;
    grid-area: temp;
    font-weight: normal;
    color: white;
    font-size: 20px; 
}

.grid1-right-hourly-eight {
    margin: auto;

    display: grid;
    grid-template-areas: 
    "time icon temp";
    grid-template-columns: 1fr, 1fr, 1fr;
}

.grid1-right-hourly-eight-time {
    margin: auto;
    grid-area: time;
    font-weight: normal;
    color: white;
    font-size: 20px; 
}

.grid1-right-hourly-eight-icon {
    margin: auto;
    grid-area: icon;
}

.grid1-right-hourly-eight-temp {
    margin: auto;
    grid-area: temp;
    font-weight: normal;
    color: white;
    font-size: 20px; 
}

.grid1-right-hourly-nine {
    margin: auto;

    display: grid;
    grid-template-areas: 
    "time icon temp";
    grid-template-columns: 1fr, 1fr, 1fr;
}

.grid1-right-hourly-nine-time {
    margin: auto;
    grid-area: time;
    font-weight: normal;
    color: white;
    font-size: 20px; 
}

.grid1-right-hourly-nine-icon {
    margin: auto;
    grid-area: icon;
}

.grid1-right-hourly-nine-temp {
    margin: auto;
    grid-area: temp;
    font-weight: normal;
    color: white;
    font-size: 20px; 
}

.grid1-right-hourly-ten {
    margin: auto;

    display: grid;
    grid-template-areas: 
    "time icon temp";
    grid-template-columns: 1fr, 1fr, 1fr;
}

.grid1-right-hourly-ten-time {
    margin: auto;
    grid-area: time;
    font-weight: normal;
    color: white;
    font-size: 20px; 
}

.grid1-right-hourly-ten-icon {
    margin: auto;
    grid-area: icon;
}

.grid1-right-hourly-ten-temp {
    margin: auto;
    grid-area: temp;
    font-weight: normal;
    color: white;
    font-size: 20px; 
}

.bottom {
    width: 100vw;
    height: 667px;
    position: absolute;
    margin: auto;
    margin-top: 1451px;
}

.bottom-title {
    margin: auto;
    margin-bottom: 55px;
    font-weight: bolder;
    color: #13f28a;
    font-size: 5em;
}

.bottom-forecastgrid {
    width: 1551px;
    height: 436px;
    margin: auto;
    margin-right: 55px;
    margin-bottom: 55px;
    margin-left: 103px;
    background-color: #575684;

    display: grid;
    grid-template-areas: 
    "one two three four five";
    grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr;
}

.bottom-forecastgrid-one {
    width: 285px;
    height: 414px;
    margin: auto;
    margin-top: 11px;
    margin-bottom: 11px;
    margin-left: 18px;
    grid-area: one;
    background-color: #9998be;
}

.bottom-forecastgrid-one-dayofweek {
    margin: auto;
    margin-top: 15px;
    margin-left: 15px;
    font-weight: normal;
    color: black;
    font-size: 20px;
}

.bottom-forecastgrid-one-date {
    margin: auto;
    margin-top: 15px;
    margin-left: 15px;
    font-weight: normal;
    color: black;
    font-size: 20px;
}

.bottom-forecastgrid-one-highlow {
    margin: auto;
    text-align: center;

    display: grid;
    grid-template-areas: 
    "high low";
    grid-template-columns: 1fr, 1fr;
}

.bottom-forecastgrid-one-highlow-high{
    font-weight: bold;
    color: black;
    font-size: 3em;
    grid-area: high;
}

.bottom-forecastgrid-one-highlow-low {
    font-weight: bold;
    color: black;
    font-size: 3em;
    grid-area: low;
}

.bottom-forecastgrid-two {
    width: 285px;
    height: 414px;
    margin: auto;
    margin-top: 11px;
    margin-bottom: 11px;
    margin-left: 18px;
    grid-area: two;
    background-color: #9998be;
}

.bottom-forecastgrid-two-dayofweek {
    margin: auto;
    margin-top: 15px;
    margin-left: 15px;
    font-weight: normal;
    color: black;
    font-size: 20px;
}

.bottom-forecastgrid-two-date {
    margin: auto;
    margin-top: 15px;
    margin-left: 15px;
    font-weight: normal;
    color: black;
    font-size: 20px;
}

.bottom-forecastgrid-two-highlow {
    margin: auto;
    text-align: center;

    display: grid;
    grid-template-areas: 
    "high low";
    grid-template-columns: 1fr, 1fr;
}

.bottom-forecastgrid-two-highlow-high{
    font-weight: bold;
    color: black;
    font-size: 3em;
    grid-area: high;
}

.bottom-forecastgrid-two-highlow-low {
    font-weight: bold;
    color: black;
    font-size: 3em;
    grid-area: low;
}

.bottom-forecastgrid-three {
    width: 285px;
    height: 414px;
    margin: auto;
    margin-top: 11px;
    margin-bottom: 11px;
    margin-left: 18px;
    grid-area: three;
    background-color: #9998be;
}

.bottom-forecastgrid-three-dayofweek {
    margin: auto;
    margin-top: 15px;
    margin-left: 15px;
    font-weight: normal;
    color: black;
    font-size: 20px;
}

.bottom-forecastgrid-three-date {
    margin: auto;
    margin-top: 15px;
    margin-left: 15px;
    font-weight: normal;
    color: black;
    font-size: 20px;
}

.bottom-forecastgrid-three-highlow {
    margin: auto;
    text-align: center;

    display: grid;
    grid-template-areas: 
    "high low";
    grid-template-columns: 1fr, 1fr;
}

.bottom-forecastgrid-three-highlow-high{
    font-weight: bold;
    color: black;
    font-size: 3em;
    grid-area: high;
}

.bottom-forecastgrid-three-highlow-low {
    font-weight: bold;
    color: black;
    font-size: 3em;
    grid-area: low;
}

.bottom-forecastgrid-four {
    width: 285px;
    height: 414px;
    margin: auto;
    margin-top: 11px;
    margin-bottom: 11px;
    margin-left: 18px;
    grid-area: four;
    background-color: #9998be;
}

.bottom-forecastgrid-four-dayofweek {
    margin: auto;
    margin-top: 15px;
    margin-left: 15px;
    font-weight: normal;
    color: black;
    font-size: 20px;
}

.bottom-forecastgrid-four-date {
    margin: auto;
    margin-top: 15px;
    margin-left: 15px;
    font-weight: normal;
    color: black;
    font-size: 20px;
}

.bottom-forecastgrid-four-highlow {
    margin: auto;
    text-align: center;

    display: grid;
    grid-template-areas: 
    "high low";
    grid-template-columns: 1fr, 1fr;
}

.bottom-forecastgrid-four-highlow-high{
    font-weight: bold;
    color: black;
    font-size: 3em;
    grid-area: high;
}

.bottom-forecastgrid-four-highlow-low {
    font-weight: bold;
    color: black;
    font-size: 3em;
    grid-area: low;
}

.bottom-forecastgrid-five {
    width: 285px;
    height: 414px;
    margin: auto;
    margin-top: 11px;
    margin-right: 18px;
    margin-bottom: 11px;
    margin-left: 18px;
    grid-area: five;
    background-color: #9998be;
}

.bottom-forecastgrid-five-dayofweek {
    margin: auto;
    margin-top: 15px;
    margin-left: 15px;
    font-weight: normal;
    color: black;
    font-size: 20px;
}

.bottom-forecastgrid-five-date {
    margin: auto;
    margin-top: 15px;
    margin-left: 15px;
    font-weight: normal;
    color: black;
    font-size: 20px;
}

.bottom-forecastgrid-five-highlow {
    margin: auto;
    text-align: center;

    display: grid;
    grid-template-areas: 
    "high low";
    grid-template-columns: 1fr, 1fr;
}

.bottom-forecastgrid-five-highlow-high{
    font-weight: bold;
    color: black;
    font-size: 3em;
    grid-area: high;
}

.bottom-forecastgrid-five-highlow-low {
    font-weight: bold;
    color: black;
    font-size: 3em;
    grid-area: low;
}

.icon {
    width: 254px;
    height: 254px;
    margin: auto;
    align-content: center;
    max-width: 100%;
    max-height: 100%;
}

.icon_01d, .icon_01n {
    background-image: url("/img/sun.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  
  .icon_02d, .icon_02n {
    background-image: url("/img/cloudy.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  
  .icon_03d, .icon_03n {
    background-image: url("/img/scattered.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  
  .icon_04d, .icon_04n {
    background-image: url("/img/broken.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .icon_09d, .icon_09n {
    background-image: url("/img/showerrain.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .icon_10d, .icon_10n {
    background-image: url("/img/rain.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .icon_11d, .icon_11n {
    background-image: url("/img/thunderstorm.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  
  .icon_13d, .icon_13n {
    background-image: url("/img/snow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .icon_50d, .icon_50n {
    background-image: url("/img/wind.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }