@import url('https://fonts.googleapis.com/css2?family=Muli:wght@500&display=swap');

body {
    font-family: "Muli";
    background-color: #1d1c40;
}

.grid1 {
    width: 100vw;
    height: 1401px;
    position: absolute;
    margin: auto;
    margin-top: 10px;
    margin-right: 45px;
    margin-left: 103px;

    display: grid;
    grid-template-areas: 
    "left right";
    grid-template-columns: 1fr, 1fr;
}

.grid1-left {
    width: 585px;
    height: 1401px;
    margin: auto;
    grid-area: left;
}

.grid1-left-search {
    width: 663px;
    height: 72px;
    margin: auto;
    margin-top: 284px;
    margin-bottom: 55px;
    background-color: #575684;
}

.grid-left-location {
    margin: auto;
    margin-bottom: 55px;
}

h1 {
    font-weight: bold;
    color: #13f28a;
    font-size: xx-large;
}

.grid-left-radar {
    width: 585px;
    height: 482px;
    margin: auto;
    margin-bottom: 55px;
    background-color: #575684;
}

.grid1-right {
    width: 405px;
    height: 1401px;
    margin: auto;
    grid-area: right;
    background-color: #575684;
}

.grid1-right-date {
    font-weight: bold;
    color: #13f28a;
    font-size: large;
    text-align: center;
}

.grid1-right-time {
    margin: auto;
}

h2 {
    font-weight: normal;
    color: #13f28a;
    font-size: large;
    text-align: center;
}

.grid1-right-icon{
    margin: auto;
    margin-top: 18px;
    margin-bottom: 18px;
}

img {
    display: block;
    margin: auto;
    width: auto;
  }

.grid1-right-currenttemp {
    font-weight: bold;
    color: white;
    font-size: x-large;
}

h3 {
    font-weight: bolder;
    color: white;
    font-size: x-large;
    text-align: center;
}

.grid1-right-highlow {
    margin: auto;

    display: grid;
    grid-template-areas: 
    "high low";
    grid-template-columns: 1fr, 1fr;
}

.grid1-right-highlow-high {
    font-weight: bold;
    color: white;
    font-size: small;
    grid-area: high;
}

.grid1-right-highlow-low {
    font-weight: bold;
    color: white;
    font-size: small;
    grid-area: low;
}

.grid1-right-other {
    margin: auto;
}

.grid1-right-other-top {
    margin: auto;

    display: grid;
    grid-template-areas: 
    "one two three";
    grid-template-columns: 1fr, 1fr, 1fr;
}

.grid1-right-other-top-uv {
    margin: auto;
    grid-area: one;
}

.grid1-right-other-top-uv-title {
    font-weight: normal;
    color: white;
    font-size: small;
}

.grid1-right-other-top-uv-number {
    font-weight: normal;
    color: white;
    font-size: medium;
}

.grid1-right-other-top-chanceofrain {
    margin: auto;
    grid-area: two;
}

.grid1-right-other-top-chanceofrain-title {
    font-weight: normal;
    color: white;
    font-size: small; 
}

.grid1-right-other-top-chanceofrain-number {
    font-weight: normal;
    color: white;
    font-size: medium;
}

.grid1-right-other-top-humidity {
    margin: auto;
    grid-area: three;
}

.grid1-right-other-top-humidity-title {
    font-weight: normal;
    color: white;
    font-size: small; 
}

.grid1-right-other-top-humidity-number {
    font-weight: normal;
    color: white;
    font-size: medium;
}

.grid1-right-other-bottom {
    margin: auto;

    display: grid;
    grid-template-areas: 
    "one two";
    grid-template-columns: 1fr, 1fr;
}

.grid1-right-other-bottom-wind {
    margin: auto;
    grid-area: one;
}

.grid1-right-other-bottom-wind-title {
    font-weight: normal;
    color: white;
    font-size: small; 
}

.grid1-right-other-bottom-wind-number {
    font-weight: normal;
    color: white;
    font-size: medium;
}

.grid1-right-other-bottom-visibility {
    margin: auto;
    grid-area: two;
}

.grid1-right-other-bottom-visibility-title {
    font-weight: normal;
    color: white;
    font-size: small; 
}

.grid1-right-other-bottom-visibility-number {
    font-weight: normal;
    color: white;
    font-size: medium;
}

.grid1-right-hourlytitle {
    margin: auto;
    text-align: center;
    font-weight: bold;
    color: #13f28a;
    font-size: large;
}

.grid1-right-hourly {
    margin: auto;
    align-content: center;
}

.grid1-right-hourly-one {
    margin: auto;

    display: grid;
    grid-template-areas: 
    "time icon temp";
    grid-template-columns: 1fr, 1fr, 1fr;
}

.grid1-right-hourly-one-time {
    margin: auto;
    grid-area: time;
    font-weight: normal;
    color: white;
    font-size: small; 
}

.grid1-right-hourly-one-icon {
    margin: auto;
    grid-area: icon;
}

.grid1-right-hourly-one-temp {
    margin: auto;
    grid-area: temp;
    font-weight: normal;
    color: white;
    font-size: small; 
}

.bottom {
    width: 100vw;
    height: 667px;
    position: absolute;
    margin: auto;
    margin-top: 1451px;
}

.bottom-title {
    margin: auto;
    margin-bottom: 55px;
    margin-left: 103px;
}

.bottom-forecastgrid {
    width: 1551px;
    height: 436px;
    margin: auto;
    margin-right: 55px;
    margin-bottom: 55px;
    margin-left: 103px;
    background-color: #575684;

    display: grid;
    grid-template-areas: 
    "one two three four five";
    grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr;
}

.bottom-forecastgrid-one {
    width: 285px;
    height: 414px;
    margin: auto;
    margin-top: 11px;
    margin-bottom: 11px;
    margin-left: 18px;
    grid-area: one;
    background-color: #9998be;
}

.bottom-forecastgrid-two {
    width: 285px;
    height: 414px;
    margin: auto;
    margin-top: 11px;
    margin-bottom: 11px;
    margin-left: 18px;
    grid-area: two;
    background-color: #9998be;
}

.bottom-forecastgrid-three {
    width: 285px;
    height: 414px;
    margin: auto;
    margin-top: 11px;
    margin-bottom: 11px;
    margin-left: 18px;
    grid-area: three;
    background-color: #9998be;
}

.bottom-forecastgrid-four {
    width: 285px;
    height: 414px;
    margin: auto;
    margin-top: 11px;
    margin-bottom: 11px;
    margin-left: 18px;
    grid-area: four;
    background-color: #9998be;
}

.bottom-forecastgrid-five {
    width: 285px;
    height: 414px;
    margin: auto;
    margin-top: 11px;
    margin-right: 18px;
    margin-bottom: 11px;
    margin-left: 18px;
    grid-area: five;
    background-color: #9998be;
}

@media screen and (max-width: 1024) and (min-width: 768px){}

@media screen and (max-width: 767px) {}